[submodule "graphql-api"]
	path = graphql-api
	url = https://github.com/otomadb/graphql-api
[submodule "main-prisma"]
	path = main-prisma
	url = https://github.com/otomadb/main-prisma
[submodule "ixgyohn"]
	path = ixgyohn
	url = https://github.com/otomadb/ixgyohn
